header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 0.1rem;
  padding-bottom: 0;
  background-color: #16abb7;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  user-select: none;

  @media (min-width: 480px) {
    padding: 0 0.3rem;
    justify-content: normal;
  }

  &[data-theme="dark"] {
    background-color: #240618;
    a {
      color: white;
    }
    .settings {
      img {
        filter: invert(1);
      }
    }
  }
}
