.favorite-card {
  display: flex;
  flex-direction: row-reverse;
  min-width: 95%;
  border: 1px solid #ede798;
  border-radius: 10px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  font-size: 1rem;
  user-select: none;

  @media (min-width: 400px) {
    min-width: 40%;
  }

  &[data-theme="dark"] {
    background-color: #2d2639;
  }

  .favorite-info {
    flex: 1;
    display: flex;
    flex-direction: column;

    section {
      display: grid;
      grid-template-columns: 0.5fr 1.5fr;
      grid-template-rows: 1fr;
    }
  }

  button {
    width: 3rem;
    padding: 0;
    background-color: transparent;
    border: 0;

    img {
      width: 3rem;
      height: 2rem;
      cursor: pointer;
    }
  }
}
