.search-container {
  display: flex;
  align-items: center;
  justify-content: center;

  input {
    height: 2.5rem;
    width: 20rem;
    text-indent: 3px;
    border-radius: 25px;
    border: 1px solid white;
    text-indent: 5px;
    font-size: 16px;
    @media (min-width: 480px) {
      width: 25rem;
    }
  }
}
