.forecast-card {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  border: 1px solid linear-gradient(0deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);
  border-radius: 10px;
  background: rgb(34, 193, 195);
  background: linear-gradient(0deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);
  color: white;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;

  .temperature {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 0.5rem;

    section {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr;
      font-size: 1.5rem;
    }
  }
}

.forecast-card[data-theme="dark"] {
  background: rgb(58, 69, 122);
  background: linear-gradient(0deg, rgba(58, 69, 122, 1) 0%, rgba(128, 13, 36, 1) 100%);
}
