.temp-unit-toggle-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.5rem 0;

  label {
    width: 5rem;
    height: 2rem;
    position: relative;
    display: block;
    background: #ebebeb;
    border-radius: 200px;
    box-shadow:
      inset 0px 5px 15px rgba(0, 0, 0, 0.4),
      inset 0px -5px 15px rgba(255, 255, 255, 0.4);
    cursor: pointer;
    transition: 0.3s;

    &:after {
      content: "";
      width: 1.8rem;
      height: 1.75rem;
      position: absolute;
      top: 2px;
      left: 2px;
      background: linear-gradient(180deg, #a0a0a0, #4a4a4a);
      border-radius: 180px;
      box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
      transition: 0.3s;
    }
    div {
      position: absolute;
      z-index: 100;
      font-size: 1.2rem;
      font-weight: bolder;
      top: 2px;
      user-select: none;
    }
    .celsius {
      left: 4.2px;
    }
    .fahrenheit {
      left: 3.4rem;
    }
  }

  input {
    width: 0;
    height: 0;
    visibility: hidden;
    position: absolute;
    &:checked + label {
      &:after {
        left: 4.85rem;
        transform: translateX(-100%);
      }
    }
    &:active:after {
      width: 5rem;
    }
  }
}
