.five-days-forecast-container {
  width: 85%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;

  @media (min-width: 400px) {
    gap: 3rem;
  }
}
