@keyframes OpenModal {
  from {
    left: 100%;
  }
  to {
    left: calc(100% - 6.2rem);
  }
}
@keyframes CloseModal {
  from {
    display: block;
    left: calc(100% - 6.2rem);
  }
  to {
    display: none;
    left: 100%;
  }
}

.settings {
  button {
    background-color: transparent;
    border: 0;

    img {
      width: 2rem;
      height: 2rem;
      cursor: pointer;
    }
  }

  dialog {
    background-color: rgb(206, 192, 156);
    width: 6rem;
    top: 5.05rem;
    left: calc(100% - 6.2rem);
    padding: 0;
    margin: 0;
    border: 1px solid #a5a55d;
    border-radius: 5px;
    animation: CloseModal 0.5s normal;

    &[data-theme="dark"] {
      background-color: gray;
      border: 1px solid gray;
    }
  }

  dialog[open] {
    animation: OpenModal 0.5s normal;
  }
}
