.settings {
  button {
    background-color: transparent;
    border: 0;

    img {
      width: 2rem;
      height: 2rem;
      cursor: pointer;
    }
  }

  dialog[open] {
    width: 6rem;
    left: calc(100% - 7em);
    padding: 0;
    margin: 0;
    border: 1px solid gray;
    border-radius: 5px;
  }
}
