@keyframes OpenModal {
  from {
    left: 100%;
  }
  to {
    left: calc(100% - 6.2rem);
  }
}
@keyframes CloseModal {
  from {
    display: block;
    left: calc(100% - 6.2rem);
  }
  to {
    display: none;
    left: 100%;
  }
}

.settings {
  button {
    background-color: transparent;
    border: 0;

    img {
      width: 1.5rem;
      height: 1.5rem;
      cursor: pointer;
    }
    @media (min-width: 400px) {
      padding: 0.5rem;
      img {
        width: 2rem;
        height: 2rem;
      }
    }
  }

  dialog {
    background-color: #f1deab;
    width: 6rem;
    top: 5.05rem;
    left: calc(100% - 6.2rem);
    padding: 0;
    margin: 0;
    border: 1px solid #a5a55d;
    border-radius: 5px;
    animation: CloseModal 0.5s normal;

    &[data-theme="dark"] {
      background-color: gray;
      border: 1px solid gray;
    }
    @media (max-width: 400px) {
      top: 3rem;
    }
  }

  dialog[open] {
    animation: OpenModal 0.5s normal;
  }
}
