h1,
h2,
h3 {
  margin: 0;
}

.current-weather-container {
  min-width: min(25rem, 90%);
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr 1fr;
  align-items: center;

  .loading,
  .error {
    h1,
    h2 {
      font-size: 2rem;
    }

    @media (max-width: 480px) {
      h1,
      h2 {
        font-size: 1.5rem;
      }
    }
  }

  .base-info {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    h1 {
      font-family:
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        "Open Sans",
        "Helvetica Neue",
        sans-serif;
      font-size: 2rem;
      @media (min-width: 480px) {
        font-size: 3rem;
      }
    }
  }

  .add-to-favorites {
    display: flex;
    justify-content: flex-end;

    button {
      width: 3rem;
      padding: 0;
      background-color: transparent;
      border: 0;

      img {
        width: 3rem;
        height: 2rem;
        cursor: pointer;

        &[data-theme="dark"] {
          filter: invert(1);
        }
      }
    }
  }

  .temperature {
    display: flex;

    h2 {
      font-size: 1.8rem;
      font-family: Arial, Helvetica, sans-serif;

      @media (min-width: 480px) {
        font-size: 2rem;
      }
    }
  }

  .weatherText {
    display: flex;
    justify-content: flex-end;

    h2 {
      font-family:
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        "Open Sans",
        "Helvetica Neue",
        sans-serif;
      font-size: 1.5rem;

      @media (min-width: 480px) {
        font-size: 2rem;
      }
    }
  }
}
